* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fcf7e3;
  color: #612406;
}

.imageFlex {
}

.descriptionFlex {
}

.priceFlex {
}

.textHorizontalAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  font-family: "Outfit", sans-serif;
}

.buttonFlex {
  text-align: center;
}

button {
  border-radius: 20px;
  margin-block: 10px;
  padding-inline: 10px;
  background-color: #f3df85;
  color: #612406;
  border: none;
}
